/*Fonts, used in the website:
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

/*-----------------CSS reset-------------------*/
body { margin: 0; border: 0; padding: 0; outline: 0; vertical-align: baseline; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
input, button, textarea, select { -webkit-appearance: none; outline: none;}
ol, ul, li { list-style: none; margin: 0; padding: 0;}
img { max-width: 100%; height: auto; border: none; outline: none;}
a:focus { text-decoration: none; }
/*----------------- End CSS reset-------------------*/

body { 
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #333333;
	background-color: #FFFFFF;
}
.main_container {
	position: relative;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 3.8%;
}
p {
	color: #ffffff;
}
@media (max-width: 767px) {
	.main_container {
		padding: 0 20px;
	}
}
/*-----------Main Navigation--------------------*/
.main_nav {
	/*-webkit-transition: background ease .5s;
       -moz-transition: background ease .5s;
         -o-transition: background ease .5s;
	        transition: background ease .5s;*/
	background-color: rgba(255, 255, 255, 1.0);
}	
/*.main_nav.bkgr {
	background: rgba(0, 0, 0, 0.7);
	-webkit-transition: background ease .5s;
       -moz-transition: background ease .5s;
         -o-transition: background ease .5s;
	        transition: background ease .5s;
}*/
.main_nav.navbar {
	border: none;
}
.main_nav .navbar-brand {
    height: auto;
    padding: 12px 0;
}
.navbar-brand img {
	max-width: 174px;
	width: 100%;
}
.home_nav {
	padding: 10px 0 0;
    margin-left: 50%;
    -webkit-transform: translateX(-50%); 
		-ms-transform: translateX(-50%); 
		    transform: translateX(-50%);
    text-align: center; 
}
.home_nav > li {
	display: inline-block;
} 
.home_nav a {
	font-size: 18px;
	font-weight: 600;
	margin-right: 2px;
	color: #333333;
}
.main_nav .home_nav a:hover,
.main_nav .home_nav a:focus {
	color: #0089D9;
	background-color: transparent;
}
.right_buttons {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 3.8%;
    padding: 12px 0 0 0;
}
.right_buttons .btn {
    margin: 0 0.2em;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
.right_buttons .btn:last-child {
	margin-right: 0;
}
.main_container .btn_login {
	background-color: #333333;
} 
.main_container .btn_signup {
	background-color: #0089D9;
}
.main_container .btn_login:hover,
.main_container .btn_login:focus {
	color: #ffffff;
	-webkit-box-shadow: none;
	        box-shadow: none;
	background-color: #0F0F0F;
} 
.main_container .btn_signup:hover,
.main_container .btn_signup:focus {
	color: #ffffff;
	-webkit-box-shadow: none;
	        box-shadow: none;
	background-color: #0065A0;
}
.main_nav button {
	margin-top: 14px;
	border-color: #333333;
}
.main_nav button .icon-bar {
    background-color: #333333;
}
@media (max-width: 1365px) {
	.home_nav.nav > li > a {
		padding: 10px;
	}
}
@media (max-width: 1199px) {
	.main_nav .navbar-brand {
		padding-top: 15px;
	}
	.navbar-brand img {
		max-width: 150px;
	}
	.home_nav {
		float: left;
		margin-left: 20px;
		-webkit-transform: none; 
		    -ms-transform: none; 
		        transform: none;
	}
	.home_nav.nav > li > a {
		font-size: 16px;
	}
	.right_buttons {
		padding-top: 13px;
	}
	.right_buttons .btn {
		width: auto;
		font-size: 14px;
	}
}
@media (max-width: 991px) {
	.main_nav .navbar-brand {
		padding-top: 20px;
	}
	.navbar-brand img {
		max-width: 100px;
	}
	.home_nav {
		margin-left: 10px;
	}
	.home_nav.nav > li > a {
		font-size: 14px;
	}
	.right_buttons .btn {
		margin: 0;
		padding: 6px 8px;
	}
}
@media (max-width: 767px) {
	.main_nav .main_container {
		padding: 0;
	}
	.main_nav .navbar-header {
		border-bottom: 2px solid #333333;
	}
	.main_nav .navbar-brand { 
		padding: 14px 20px; 
	}
	.main_nav .navbar-collapse {
		padding: 0;
		border-top: none;
		border-bottom: 2px solid #333333;
		background: rgba(255, 255, 255, 1.0);
		max-height: max-content; 
	}
	.navbar-brand img {
		max-width: 150px;
	}
	.home_nav {	
		float: none;
		margin-left: 0;
		padding: 0;
		border-bottom: 1px solid rgba(51, 51, 51, 0.6); 
		text-align: left;
	}
	.home_nav li {
		display: block; 
		padding-left: 10px; 
		border-bottom: 1px solid rgba(51, 51, 51, 0.3); 
	}
	.right_buttons { 
		position: relative; 
		margin-right: 0;
		padding: 10px 20px;
	}
	.right_buttons .btn { 
		margin-right: 6px;
		padding: 6px 12px; 
	}
}
/*-----------End Main Navigation--------------------*/

/*-----------Header Section--------------------*/
.home_section {
	padding-top: 60px;
	padding-bottom: 60px;
}
.header_sectionWrapper {
	position: relative;
	border-radius: 34px;
	/*background-color: #0089D9;*/
	background-color: #262626;
	background: -moz-radial-gradient(circle at 0% 50%, #262626, #252524 62%, #333333 62.2%, #323232 66%, #404040 66.2%, #3F3F3F 70%, #0089D9 71.2%, #0089D9);
	background: -o-radial-gradient(circle at 0% 50%, #262626, #252524 62%, #333333 62.2%, #323232 66%, #404040 66.2%, #3F3F3F 70%, #0089D9 71.2%, #0089D9);
	background: -webkit-radial-gradient(circle at 0% 50%, #262626, #252524 62%, #333333 62.2%, #323232 66%, #404040 66.2%, #3F3F3F 70%, #0089D9 70.2%, #0089D9);
	background: radial-gradient(circle at 0% 50%, #262626, #252524 62%, #333333 62.2%, #323232 66%, #404040 66.2%, #3F3F3F 70%, #0089D9 71.2%, #0089D9);
}
.header_section {
	min-height: calc(100vh - 120px);
	border-radius: 34px;
	background: url(../img/bkgr_img1_1.jpg) left bottom no-repeat;
	background-size: auto 90%;
}
.container_inner {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.headerBottom_section {
	position: absolute;
    right: -20px;
    bottom: -60px;
    text-align: right;
}
.headerBottom_section img {
	max-height: 100%;
}
.header_content {
	position: relative;
	padding: 15vh 15px 0 15px;
	color: #ffffff;
	z-index: 10;
}
.header_content h1 {
	font-size: 55px;
	font-weight: 700;
}
.header_content h1 span {
	text-transform: uppercase;
    font-weight: 800;
    color: #0089D9;
}
.header_content h1::after {
	content: '';
	display: block;
	width: 100px;
	height: 6px;
	margin-top: 8px;
	margin-left: 3px;
	background-color: #0089D9;
}
.header_content > p {
	font-size: 22px;
	font-weight: 500;
	color: #808080;
}
.header_form {
	display: inline-block;
	margin-top: 20px;
    padding: 25px 0 0;
    border-radius: 8px;
    background: #333333;
}
.header_form > p {
	margin-bottom: 5px;
	padding: 0 30px;
	font-size: 24px;
	font-weight: 500;
}
.header_form > p span {
	font-size: 28px;
	font-weight: 600;
    color: #0089D9;
    text-transform: uppercase;
}
.header_buttons {
	padding: 20px 30px;
	border-bottom: 4px solid #515151;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
    background: #404040;
    overflow: auto;
}
.header_buttons a {
	width: 100%;
	padding: 12px 8px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
}
.header_buttons .btn_plans {
	background-color: #666666;
}
.header_buttons .btn_plans:hover,
.header_buttons .btn_plans:focus {
	color: #ffffff;
	-webkit-box-shadow: none;
	        box-shadow: none;
	background-color: #505050;
}
.home_section .readmore {
	position: absolute;
    left: 50%;
    bottom: 10px;
    margin-left: -11px;
    /*-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);  
	    -ms-transform: translateX(-50%); 
	     -o-transform: translateX(-50%); 
	        transform: translateX(-50%);*/
    font-size: 26px;
    color: #262626;
	-webkit-animation: bounce 3s infinite;
	   -moz-animation: bounce 3s infinite;
	        animation: bounce 3s infinite;
}
.home_section .readmore:hover,
.home_section .readmore:focus {
	color: #0065A0;
	-webkit-animation: none;
	   -moz-animation: none;
	        animation: none;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
         transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
         transform: translateY(-10px);
  }
  60% {
    -moz-transform: translateY(-5px);
         transform: translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
       -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
       -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}
@media (max-width: 1600px) {
	.headerBottom_section img {
		max-width: 580px;
	}
	.header_content h1 {
		font-size: 42px;
		font-weight: 600;
	}
	.header_content h1 span {
	    font-weight: 700;
	}
	.header_content > p {
		font-size: 20px;
	}
	.header_form > p {
		font-size: 22px;
	}
	.header_form > p span {
		font-size: 24px;
	}
}
@media (max-width: 1199px) {
	.headerBottom_section img {
		max-width: 500px;
	}
}
@media (max-width: 767px) {
	.header_sectionWrapper {
		background: -moz-radial-gradient(circle at 0% 50%, #262626, #252524 72%, #333333 72.2%, #323232 76%, #404040 76.2%, #3F3F3F 80%, #0089D9 81.2%, #0089D9);
		background: -o-radial-gradient(circle at 0% 50%, #262626, #252524 72%, #333333 72.2%, #323232 76%, #404040 76.2%, #3F3F3F 80%, #0089D9 81.2%, #0089D9);
		background: -webkit-radial-gradient(circle at 0% 50%, #262626, #252524 72%, #333333 72.2%, #323232 76%, #404040 76.2%, #3F3F3F 80%, #0089D9 81.2%, #0089D9);
		background: radial-gradient(circle at 0% 50%, #262626, #252524 72%, #333333 72.2%, #323232 76%, #404040 76.2%, #3F3F3F 80%, #0089D9 81.2%, #0089D9);
	}
	.headerBottom_section {
		display: none;
	}
	.home_section {
		padding-top: 65px;
	}
	.header_section {
		min-height: calc(100vh - 125px);
		background: none;
	}
	.header_content {
		padding-top: 30px;
	}
	.header_content h1 { 
		font-size: 32px; 
	}
	.header_form {
		display: block;
		margin-bottom: 20px;
	}
	.header_form > p {
		font-size: 20px;
	}
	.header_form > p span {
		font-size: 22px;
	}
	.header_buttons {
		padding: 20px;
	}
	.header_buttons .col-xs-6 {
		padding: 0 5px;
	}
	.header_buttons a {
		padding: 10px 6px;
		font-size: 14px;
	}
}
/*-----------End Header Section--------------------*/

/*-----------Integrations Section------------------*/
.integrations_section {
	min-height: calc(100vh - 60px);
	padding-top: 40px;
	padding-bottom: 40px;
	background: #FFFFFF url(../img/bkgr_earth1920.png) center -28% no-repeat;
	-webkit-box-shadow: inset 0px -20px 38px -10px rgba(255,255,255,0.2);
       -moz-box-shadow: inset 0px -20px 38px -10px rgba(255,255,255,0.2);
            box-shadow: inset 0px -20px 38px -10px rgba(255,255,255,0.2);
}
.integrations_section h2 {
	font: 700 36px 'Montserrat', sans-serif;
	color: #262626;
	text-align: center;
}
.integrations_section h2 span {
	color: #0089D9;
}
.integrations_section .list_integrations {
	margin-top: 20px;	
	padding: 10px;
    vertical-align: middle;
    text-align: center;
}

.integrations_section .list_integrations li {
	float: none;
	position: relative;
	display: inline-block;
	margin-right: 1.78em;
	border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, 0.4);
}
.integrations_section .list_integrations.nav-pills > li + li {
	margin-left: 0;
}
.integrations_section .list_integrations li:last-child {
	margin-right: 0;
}
.integrations_section .list_integrations li::after {
	position: absolute;
    content: "\f063";
    display: inline-block;
    left: 50%;
    bottom: -40px;
    -webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);  
	    -ms-transform: translateX(-50%); 
	     -o-transform: translateX(-50%); 
	        transform: translateX(-50%);
    font: 900 26px "Font Awesome 5 Free";
    color: transparent;
}
.integrations_section .list_integrations a {
	margin-left: 0;
    padding: 0;
    border-radius: 50%;
}
.integrations_section .list_integrations img {
	max-width: 80px;
	padding: 8px;
	border-radius: 50%;
    background-color: #ffffff;
}
.integrations_section .list_integrations li:hover, 
.integrations_section .list_integrations li.active {
	border-color: #30ABF2;
}
.integrations_section .list_integrations li:hover::after, 
.integrations_section .list_integrations li.active::after {
	color: #30ABF2;
}
.integrations_section .list_integrations.nav-pills > li.active > a, 
.integrations_section .list_integrations.nav-pills > li.active > a:focus, 
.integrations_section .list_integrations.nav-pills > li.active > a:hover {
    color: #fff;
    background-color: transparent;
}
.integrations_section .list_integrations.nav > li > a:focus, 
.integrations_section .list_integrations.nav > li > a:hover {
    background-color: transparent;
}
.integrations_section .tab-content {
	max-width: 1578px;
    margin: 0 auto;
    padding-top: 40px;
}
.integrations_section .tab-pane {
	min-height: calc(100vh - 450px);
	border: 1px solid #838383;
	border-bottom-width: 4px;
	border-radius: 8px;
	background-size: 25% auto;
}
.integrations_section .tab-pane.us_pane {
	background: #FFFFFF url(../img/bkgr_us.png) left center no-repeat;
}
.integrations_section .tab-pane.uk_pane {
	background: #FFFFFF url(../img/bkgr_uk.png) left center no-repeat;
}
.integrations_section .tab-pane.de_pane {
	background: #FFFFFF url(../img/bkgr_de.png) left center no-repeat;
}
.integrations_section .tab-pane.fr_pane {
	background: #FFFFFF url(../img/bkgr_fr.png) left center no-repeat;
}
.integrations_section .tab-pane.it_pane {
	background: #FFFFFF url(../img/bkgr_it.png) left center no-repeat;
}
.integrations_pane {
	padding-left: 25%;
}
.integrations_content {
	padding: 4px 5% 20px 50px;
}
.integrations_content h3 {
	font: 700 42px/1.0 'Montserrat', sans-serif;
	color: #E5E5E5;
}
.integrations_content > p {
	font: 900 24px 'Montserrat', sans-serif;
	color: #262626;
}
.integrations_left {
	position: relative;
}
.integrations_left::after {
	content: '';
	display: block;
	position: absolute;
	width: 3px;
	top: 10px;
	bottom: -5px;
	right: -1px;
	background-image: linear-gradient(#E7E7E7 50%, rgba(255,255,255,0) 0%);
    background-position: right;
    background-size: 3px 12px;
    background-repeat: repeat-y;
}
.integrations_sources {
	height: 208px;
	margin-top: 20px;
	border-radius: 8px;
	background-color: #F2F2F2;
}
.integrations_sources h4 {
	margin: 0;
	padding: 20px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font: 700 20px/1.0 'Raleway', sans-serif;
	color: #0089D9;
	background-color: #1A1A1A;
}
.integrations_images {
	height: 148px;
	text-align: center;
}
.integrations_images .integrations_single,
.integrations_images .integrations_single div {
	height: 100%;
}
.integrations_images .integrations_single,
.integrations_images .integrations_half,
.integrations_images .integrations_third {
	padding-left: 25px;
    padding-right: 25px;
}
.integrations_images .integrations_half {
	height: 50%;
}
.integrations_images .integrations_third {
	height: 33.33333%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.integrations_half div,
.integrations_third div {
	height: 100%;
}
.integrations_images img {
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.integrations_images img,
.integrations_images p {
	position: relative;
	top: 50%;
    -webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);  
	    -ms-transform: translateY(-50%); 
	     -o-transform: translateY(-50%); 
	        transform: translateY(-50%);
}
.integrations_sources .integrations_images p {
	margin: 0;
	font: 700 18px/0.9 'Raleway', sans-serif;
	color: #0089D9;
}
@media (max-width: 1440px) {
	.integrations_section h2 {
		font-size: 34px;
	}
	.integrations_section .list_integrations {
	    margin-top: 10px;
	}
	.integrations_section .list_integrations li {
		border-width: 3px;
	}
	.integrations_section .list_integrations img {
	    max-width: 60px;
	    padding: 4px;
	}
	.integrations_section .list_integrations li::after {
	    bottom: -34px;
	    font-size: 22px;
	}
	.integrations_section .tab-content {
		padding-top: 30px;
	}
	.integrations_pane {
		padding-left: 26%;
	}
	.integrations_content > p {
		margin-bottom: 0;
	}
	.integrations_sources {
		height: 160px;
	}
	.integrations_sources h4 {
	    padding: 12px 20px;
	    font-size: 20px;
	}
	.integrations_images {
		height: 116px;
	}
}
@media (max-width: 1368px) {
	.integrations_section h2 {
		font-size: 30px;
	}
	.integrations_section .list_integrations {
	    margin-top: 0;
	}
	.integrations_section .list_integrations li::after {
	    bottom: -28px;
	    font-size: 18px;
	}
	.integrations_section .tab-content {
		padding-top: 20px;
	}
	.integrations_pane {
		padding-left: 27%;
	}
	.integrations_content h3 {
		margin-top: 10px;
		font-size: 36px;
	}
	.integrations_content > p {
		font-size: 18px;
	}
	.integrations_left::after {
		top: 0;
	}
	.integrations_sources {
		height: 140px;
		margin-top: 10px;
	}
	.integrations_sources h4 {
	    padding: 8px 20px;
	    font-size: 18px;
	}
	.integrations_images {
		height: 106px;
	}
	.integrations_sources .integrations_images p {
		font-size: 16px;
	}
}
@media (max-width: 1199px) {
	.integrations_section {
		background-image: url(../img/bkgr_earth1200.png);
		background-position: center bottom;
	}
}
@media (max-width: 991px) {
	.integrations_content {
		padding-right: 50px;
	}
	.integrations_pane {
		padding-left: 0;
	}
}
@media (max-width: 767px) {
	.integrations_section {
		padding-top: 10px;
		background-image: url(../img/bkgr_earth768.png);
	}
	.integrations_section h2 {
		margin-top: 10px;
		font-size: 30px;
	}
	.integrations_section .list_integrations {
		padding: 10px 0;
	}
	.integrations_section .list_integrations li {
		border: 3px solid rgba(38, 38, 38, 0.3);
		margin-right: 0;
	}
	.integrations_section .list_integrations img {
		max-width: 50px;
		padding: 2px;
	}
	.integrations_section .list_integrations li::after {
		display: none;
	}
	.integrations_section .tab-content {
		padding-top: 0;
	}
	.integrations_content {
		padding: 4px 0 20px;
	}
	.integrations_content h3 {
		margin-top: 10px;
		padding-left: 10px;
		font-size: 36px;
	}
	.integrations_content > p {
		margin-bottom: 0;
		padding-left: 10px;
		font-size: 20px;
	}
	.integrations_left::after {
		display: none;
	}
	.integrations_sources {
		margin-left: 10px;
		margin-right: 10px;
	}
	.integrations_sources h4 {
		padding: 8px; 
		font-size: 16px;
	}
	.integrations_sources .integrations_images p {
		font-size: 14px;
	}
}
/*-----------End Integrations Section------------------*/

/*-----------Try & FBCommunity Sections--------------------*/
.try_section {
	padding: 50px 20px;
	/*background-color: #1A1A1A;*/
	background: #1A1A1A url(../img/bkgr_try.jpg) right center no-repeat;
	background-size: auto 100%;
}
.try_section .container_inner {
	text-align: center;
}
.try_section p {
	display: inline-block;
	margin: 0;
	font-size: 36px;
	font-weight: 600;
	vertical-align: middle;
}
.try_section p span {
	color: #0089D9;
}
.try_section a {
	margin-left: 60px;
    padding: 11px 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}
.try_section i {
	margin-left: 10px;
	font-size: 26px;
}
.try_section .list_fbcommunity {
	display: inline-block;
	margin-left: 60px;
	padding: 10px;
    vertical-align: middle;
    border-radius: 30px;
    background-color: #0089D9;
}
.try_section .list_fbcommunity li {
	float: left;
	margin-right: 10px;
}
.try_section .list_fbcommunity li:last-child {
	margin-right: 0;
}
.try_section .list_fbcommunity a {
	margin-left: 0;
    padding: 0;
}
.try_section .list_fbcommunity img {
	padding: 4px;
	border-radius: 50%;
    background-color: #ffffff;
}
@media (max-width: 1199px) {
	.try_section p.p_fbcommunity {
		display: block;
	}
	.try_section .list_fbcommunity {
		margin-left: 0;
		margin-top: 10px;
	}
}
@media (max-width: 991px) {
	.try_section p {
		display: block;
	}
	.try_section a {
		margin-left: 0;
		margin-top: 10px;
	}
}
@media (max-width: 767px) {
	.try_section { 
		padding: 20px; 
	}
	.try_section p {
		font-size: 24px;
	}
	.try_section a {
		padding: 8px 20px;
		font-size: 14px;
	}
	.try_section i {
		font-size: 20px;
	}
	.try_section .list_fbcommunity {
		padding: 5px;
		border-radius: 21px;
	}
	.try_section .list_fbcommunity li {
		margin-right: 5px;
	}
	.try_section .list_fbcommunity img {
		width: 28px;
		padding: 2px;
	}
}
/*-----------End Try & FBCommunity Sections--------------------*/

/*-----------Features Section--------------------*/
.features_section {
	padding-top: 4.7%;
	padding-bottom: 4.7%;
	background-color: #F7F7F7;
}
.features_section .carousel-control {
	text-shadow: none;
	opacity: 1.0;
	width: 40px;
	top: 0;
	bottom: auto;
}
.features_section .carousel-control.left,
.features_section .carousel-control.right {
	background: none;
	right: 0;
    left: auto;
    top: 50%;

}
.features_section .carousel-control.left {
	margin-top: 50px;
}
.features_section .carousel-control.right {
	margin-top: -50px;
}
.features_section .carousel-control.left i,
.features_section .carousel-control.right i {
	position: absolute;
	/*right: 50%;
    top: 50%;*/
    /*margin-right: -10px;*/
    /*margin-top: -13px;*/
	font-size: 38px;
	color: #BFBFBF;
	transform: translateY(-50%);
}
.features_section .carousel-control.left i {
	/*margin-top: 13px;*/
	/*right: 0;*/
}
.features_section .carousel-control.right i {
	/*margin-top: -13px;*/
}
.features_section .carousel-control:focus i, 
.features_section .carousel-control:hover i {
	color: #888888;
}
	/*--- Carousel fade styles ---*/
	.carousel-fade .carousel-control { 
		z-index: 2; 
	}  
	.carousel-fade .item {
	  	opacity: 0;
	  	-webkit-transition-property: opacity;
	  	   -moz-transition-property: opacity;
	  	     -o-transition-property: opacity;
	  	        transition-property: opacity;
	 }

  	.carousel-fade .next.left,
  	.carousel-fade .prev.right,
  	.carousel-fade .item.active { 
  		opacity: 1; 
  	}

  	.carousel-fade .active.left,
  	.carousel-fade .active.right {
    	left: 0;
    	opacity: 0;
    	z-index: 1;
    }
    /* Safari Fix */
	@media all and (transform-3d), (-webkit-transform-3d) {
	    .carousel-fade .carousel-inner > .item.next,
	    .carousel-fade .carousel-inner > .item.active.right {
	      opacity: 0;
	      -webkit-transform: translate3d(0, 0, 0);
	              transform: translate3d(0, 0, 0);
	    }
	    .carousel-fade .carousel-inner > .item.prev,
	    .carousel-fade .carousel-inner > .item.active.left {
	      opacity: 0;
	      -webkit-transform: translate3d(0, 0, 0);
	              transform: translate3d(0, 0, 0);
	    }
	    .carousel-fade .carousel-inner > .item.next.left,
	    .carousel-fade .carousel-inner > .item.prev.right,
	    .carousel-fade .carousel-inner > .item.active {
	      opacity: 1;
	      -webkit-transform: translate3d(0, 0, 0);
	              transform: translate3d(0, 0, 0);
	    }
	}
	/*--- End Carousel fade styles ---*/
.item_features {
	max-width: 532px;
	padding-right: 25px;
}
.features_section p {
	margin: 0;
	font: 22px/1.5 'Lato', sans-serif;
	color: #4D4D4D;
}
.features_section p.features_number {
	margin-bottom: 0.17em;
	font: 900 174px/0.7 'Source Sans Pro', sans-serif;
	color: #E6E6E6;
}
.features_section p.features_title {
	font: 600 22px 'Raleway', sans-serif;
	color: #0089D9;
}
.features_section h2 {
	max-width: 97%;
	margin-bottom: 0.5em;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.3;
}
.features_img {
	padding-right: 25px;
}
.features_progress.progress {
    position: relative;
    height: 3px;
    max-width: 448px;
    margin-top: 3em;
    margin-bottom: 5.75em;
    margin-right: 2.9em;
    border-radius: 3px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #CCCCCC;
    overflow: visible;
}
.progress_point {
	position: absolute;
	width: 12px;
	height: 12px;
	left: 0;
	top: -4px;
	border-radius: 50%;
	background-color: #CCCCCC;
}
.progress_point:nth-of-type(2) {
	left: 25%;
}
.progress_point:nth-of-type(3) {
	left: 50%;
}
.progress_point:nth-of-type(4) {
	left: 75%;
}
.progress_point:nth-of-type(5) {
	left: 100%;
}
.progress_point.in {
	background-color: #0089D9;
}
.progress_point.active {
	width: 20px;
	height: 20px;
	top: -8px;
	background-color: #0089D9;
	background: -moz-radial-gradient(circle at center, #ffffff, #ffffff 6px, #0089D9 7px, #0089D9);
	background: -o-radial-gradient(circle at center, #ffffff, #ffffff 6px, #0089D9 7px, #0089D9);
	background: -webkit-radial-gradient(circle at center, #ffffff, #ffffff 6px, #0089D9 7px, #0089D9);
	background: radial-gradient(circle at center, #ffffff, #ffffff 6px, #0089D9 7px, #0089D9);
}
.features_progress .progress-bar {
    border-radius: 3px;
    background-color: #0089D9;
}
.features_labels {
	position: relative;
}
.features_labels label {
	position: absolute;
	left: 0;
	max-width: 76px;
	margin-top: 1.4em;
	font: 600 14px 'Raleway', sans-serif;
	color: #B3B3B3;
	text-align: center;
	-webkit-transform: translateX(-38%);
	   -moz-transform: translateX(-38%);  
	    -ms-transform: translateX(-38%); 
	     -o-transform: translateX(-38%); 
	        transform: translateX(-38%);

}
.features_labels label:nth-of-type(2) {
	left: 25%;
}
.features_labels label:nth-of-type(3) {
	left: 50%;
}
.features_labels label:nth-of-type(4) {
	left: 75%;
}
.features_labels label:nth-of-type(5) {
	left: 100%;
}
.features_labels label.active {
	color: #0089D9;
}
@media (max-width: 1440px) {
	.features_section .carousel-control.left i,
	.features_section .carousel-control.right i {
		right: 10%;
	}
	.features_section p.features_number {
		font-size: 102px;
	}
}
@media (max-width: 1199px) {
	.features_section .carousel-control.left i,
	.features_section .carousel-control.right i {
		right: 0;
	}
	.features_section p,
	.features_section p.features_title {
		font-size: 20px;
	}
	.features_section h2 {
		font-size: 32px;
	}
}
@media (max-width: 767px) {
	.features_section .carousel-control.left,
	.features_section .carousel-control.right {
	    top: 0;

	}
	.features_section .carousel-control.left {
		margin-top: 100px;
	}
	.features_section .carousel-control.right {
		margin-top: 50px;
	}
	.features_section p,
	.features_section p.features_title {
		font-size: 18px;
	}
	.features_section h2 {
		font-size: 28px;
	}
	.features_img {
		padding: 20px 50px 0 0;
	}
	.features_progress.progress {
		margin-top: 2em;
		margin-left: 1em;
	}
}
/*-----------End Features Section--------------------*/

/*-----------Our Reasonable Plans Section--------------------*/
.plans_section {
	position: relative;
	padding: 40px 20px 60px;
	color: #000000;
	background-color: #FFFFFF;
}
.plans_section h2 {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.3;
}
.plans-page-slider {
	text-align: center;
}
#slider_content {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
    padding: 1rem 0;
}
#slider_content h3 {
	font-size: 28px;
    color: #ffffff;
}
.plan-name-tag {
    width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #0089D9;
}
.cube {
    position: relative;
    width: auto;
    max-width: 767px;
    height: 60px;
    margin-bottom: 16px;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 400px;
       -moz-perspective: 400px;
        -ms-perspective: 400px;
         -o-perspective: 400px;
            perspective: 400px;
}
.cube + p {
	font: 600 20px 'Raleway', sans-serif;
	color: #4D4D4D;
}
#slider-range-min {
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: 27px;
    border: 0;
    border-radius: 8px;
    z-index: 999;
    background-color: #E5F3FB;
}
#slider-range-min .ui-slider-handle {
	top: 1px;
	z-index: 10;
}
#slider-range-min .ui-slider-handle img {
	width: 32px;
	max-width: none;
	margin-left: -8px;
	margin-top: -3px;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
}
.slider_img {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-left: -8px;
    margin-top: -8px;
    border-radius: 50%;
	background-color: #0089D9;
	background: -moz-radial-gradient(circle at center, #262626, #262626 11px, #30ABF2 12px, #30ABF2);
	background: -o-radial-gradient(circle at center, #262626, #262626 11px, #30ABF2 12px, #30ABF2);
	background: -webkit-radial-gradient(circle at center, #262626, #262626 11px, #30ABF2 12px, #30ABF2);
	background: radial-gradient(circle at center, #262626, #262626 11px, #30ABF2 12px, #30ABF2);
}
#slider-range-min .ui-slider-handle:focus,
#slider-range-min .ui-slider-handle:active,
#slider-range-min .ui-slider-handle:visited {
	outline: none;
}
.ui-slider:before {
    content: 'IIIIIIIIIIIIII';
    position: absolute;
    left: 45px;
    width: 722px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 29px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.1);
    letter-spacing: 44px;
    z-index: 10;
}
.ui-slider:before {
    top: -1px;
}
.plans-page-slider .ui-widget-header {
	border-radius: 8px;
    background: #0089D9;
}
.change_var {
	width: 100%;
	margin: 40px 0 0;
	border-bottom: 4px solid #CCE7F7;
	border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
	overflow-x: hidden;
}
.outer_listings {
	position: relative;
	background-color: #E5F3FB; 
	-webkit-box-shadow: 0px 0px 20px -6px rgba(0, 137, 217, 0.95); 
	        box-shadow: 0px 0px 20px -6px rgba(0, 137, 217, 0.95);
	z-index: 1;
}
.outer_prices {
	position: relative;
	background-color: #F2F9FD;
	-webkit-box-shadow: 0px 0px 20px -6px rgba(0, 137, 217, 0.95); 
	        box-shadow: 0px 0px 20px -6px rgba(0, 137, 217, 0.95);
	z-index: 2;
}
.outer_listings p, 
.outer_prices p {
	margin: 0;
	padding: 10px 0;
}
.outer_listings i {
	position: absolute;
    top: 50%;
    left: -40px;
    -webkit-transform: translate(0,-50%); 
	   -moz-transform: translate(0,-50%); 
	    -ms-transform: translate(0,-50%); 
	     -o-transform: translate(0,-50%); 
	        transform: translate(0,-50%);
    font-size: 20px;
    color: #0089D9;
}
#amount, 
#price-per-list,
#price {
	position: relative;
	font-size: 22px;
	font-weight: 500;
	color: #0089D9;
	text-align: center;
}
#amount, 
#price-per-list {
    display: inline-block;
    background: transparent;
}
#price {
	font-size: 20px;
}
#price-per-list {
	margin-left: 30px;
}
#amount { 
	margin-right: 30px;
}
#amount span, 
#price span, 
#price-per-list span {
    font-size: 46px;
}
#price span, 
#price-per-list span {
	color: #262626;
}
#price span {
	font-size: 32px;
	font-weight: 600;
}
#amount:focus, 
#price:focus, 
#price-per-list:focus {
    outline: none;
}
.features {
	border-top: none;
	text-align: left;
	background: #FFFFFF;
}
.feature {
    padding-top: 18px;
    padding-bottom: 18px;
}
.feature:nth-of-type(odd) {
	background-color: #E5F3FB;
}
.feature:nth-of-type(even) {
	background-color: #F2F9FD;
}
.features > .row {
	background-color: #F2F9FD;
}
.features_left .feature p {
	padding-left: 90px;
}
.feature p {
	position: relative;
	margin: 0;
	padding-left: 40px;
	font: 600 18px 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.7);
}
.feature i {
	position: absolute;
	left: 0;
	padding-top: 2px;
    color: #008ADD;
}
.features_left .feature i {
	left: 50px;
}
.feature.pro p,
.feature.pro i {
	color: rgba(0, 0, 0, 0.3);
}
.feature.pro i.fa-check {
	display: none;
}
.feature.pro.active p {
	color: rgba(0, 0, 0, 0.7);
}
.feature.pro.active i {
	color: #008ADD;
}
.feature.pro.active i.fa-check {
	display: inline;
}
.feature.pro.active i.fa-times {
	display: none;
}
@media (max-width: 804px) {
	#slider-range-min { 
		position: relative; 
		width: 500px; 
		margin: 0 auto; 
	}
	.ui-slider:before { 
		left: 26px; 
		width: 470px; 
		letter-spacing: 26px; 
	}
}
@media (max-width: 767px) {
	.outer_listings i {
		display: block;
	    position: relative;
	    left: 0;
	}
	.features_right .feature p {
	    padding-left: 90px;
	}
	.features_right .feature i {
	    left: 50px;
	}
	#price-per-list {
		display: block;
		margin-left: 0;
	}
	#amount { 
		display: block;
		margin-right: 0;
	}
}
@media (max-width: 550px) {
	#slider-range-min { 
		width: 300px; 
	}
	.ui-slider:before { 
		left: 17px; 
		width: 280px; 
		letter-spacing: 12px; 
	}
}
@media (max-width: 360px) {
	#slider-range-min { 
		width: 250px; 
	}
	.ui-slider:before { 
		left: 12px; 
		width: 230px; 
		letter-spacing: 9px; 
	}
}
/*-----------End Our Reasonable Plans Section--------------------*/

/*-----------Reviews Carousel Section--------------------*/
.reviews_section {
	position: relative;
	padding-top: 4.7%;
	padding-bottom: 4.7%;
	background-color: #F7F7F7;
}
.reviews_section .carousel {
	padding: 4.7% 9.5%;
}
.reviews_section .carousel_wrapper {
	padding: 30px;
	border-bottom: 4px solid #E6E6E6;
	border-radius: 8px;
	background-color: #ffffff;
}
.reviews_section .carousel-control {
	text-shadow: none;
	opacity: 1.0;
}
.reviews_section .carousel-control.left,
.reviews_section .carousel-control.right {
	background: none;
}
.reviews_section .carousel-control.left i,
.reviews_section .carousel-control.right i {
	position: absolute;
    top: 50%;
    margin-top: -9px;
	font-size: 18px;
	color: #262626;
}
.reviews_section .carousel-control.left i {
	left: 15px;
}
.reviews_section .carousel-control.right i {
	right: 15px;
}
.reviews_section .carousel-control:focus i, 
.reviews_section .carousel-control:hover i {
	color: #888888;
}
.reviews_section .carousel-indicators {
	bottom: 0;
}
.reviews_section .carousel-indicators li {
	margin: 0;
	margin-right: 10px;
    border: 0;
    background-color: #E6E6E6;
}
.reviews_section .carousel-indicators li:last-child {
	margin-right: 0;
}
.reviews_section .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	background-color: #BFBFBF;
}
.review_item {
	/*min-height: 300px;*/
}
.review_video {
    float: left;
    position: relative;
    width: 40%;
    max-width: 370px;
    padding: 7.2% 0;
}
.reviews_section .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.reviews_section .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.buttonWrapper {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.8);
}
.buttonWrapper button {
	padding: 0;
	border: 0;
	border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%); 
	   -moz-transform: translate(-50%,-50%); 
	    -ms-transform: translate(-50%,-50%); 
	     -o-transform: translate(-50%,-50%); 
	        transform: translate(-50%,-50%);
}
.buttonWrapper img {
	border-radius: 50%;
}
.review_content {
	float: left;
	width: 60%;
	padding-left: 30px;
}
.review_content h6 {
	font: 600 20px 'Montserrat', sans-serif;
	color: #333333;
}
.review_content .review_time {
	font: 600 16px 'Montserrat', sans-serif;
	color: #999999;
}
.review_stars {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	color: #D9D9D9;
	overflow: auto;
}
.review_stars li {
	float: left;
}
.review_stars .filled {
	color: #666666;
}
.review_content blockquote {
	padding-left: 0;
	border-left: 0;
	font: 600 26px/1.5 'Montserrat', sans-serif;
	color: #262626;
}
.review_content blockquote::before {
	content: '\201C';
}
.review_content blockquote::after {
	content: '\201D';
}
.review_social li {
    display: inline-block;
    margin-right: 6px;
}
.review_social a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    background-color: #F0F0F0;
}
.review_social li i {
    font-size: 18px;
    color: #999999;
    line-height: 40px;
}
.review_social li a:hover {
	background-color: #0089D9;
}
.review_social li a:hover i {
	color: #ffffff;
}
@media (max-width: 767px) {
	.reviews_section .carousel {
		padding: 20px;
	}
	.reviews_section .carousel-control.left i {
		left: -10px;
	}
	.reviews_section .carousel-control.right i {
		right: -10px;
	}
	.review_video {
	    float: none;
	    width: 100%;
	    margin: 0 auto;
	}
	.review_content {
		float: none;
		width: 100%;
		padding-left: 0;
		padding-top: 20px;
	}
	.review_content h6 {
		font-size: 18px;
	}
	.review_content .review_time {
		font-size: 14px;
	}
	.review_stars {
		margin-bottom: 10px;
	}
	.review_content blockquote {
		font-size: 20px;
	}
	.reviews_section .carousel-indicators {
		margin-bottom: -10px;
	}
}
/*-----------End Reviews Carousel Section--------------------*/

/*-----------Footer Section--------------------*/
.main_footer {
	padding: 30px 20px;
	background: #1A1A1A;
}
.widget {
	padding: 20px;
}
.widget h5 {
	margin-bottom: 2em;
	font: 500 20px 'Montserrat', sans-serif;
	color: #ffffff;
}
.widget a {
	font: 500 16px/2.0 'Montserrat', sans-serif;
	color: #999999;
}
.widget a:hover,
.widget a:focus,
.widget a:active {
	color: #0089D9;
	text-decoration: none;
}
.widget.widget_follow_us li,
.widget.widget_fb li {
	display: inline-block;
	margin-right: 6px;
}
.widget.widget_follow_us a,
.widget.widget_fb a {
	display: inline-block;
	height: 32px;
	width: 32px;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	text-align: center;
	background-color: #404040;
}
.widget.widget_follow_us li i {
	font-size: 18px;
	color: #999999;
    vertical-align: middle;
}
.widget.widget_follow_us li a:hover {
	background-color: #0089D9;
}
.widget.widget_follow_us li a:hover i {
	color: #ffffff;
}
.widget.widget_fb a {
	background-color: #666666;
}
.widget.widget_fb li img {
	padding: 4px;
	vertical-align: top;
}
@media (max-width: 767px) {
	.widget.widget_fb li {
		margin-right: 0;
	}
	.widget.widget_fb a {
		height: 28px;
		width: 28px;
	}
	.widget.widget_fb li img {
		padding: 3px;
	}
}
/*-----------End Footer Section--------------------*/

/*-----------Back to Top Button--------------------*/
#back_to_top {
	display: none;
	position: fixed;
    right: 30px;
    bottom: 30px;
    /*cursor: pointer;*/
    padding: 2px 15px;
    border-radius: 10px;
    font-size: 32px;
    color: #ffffff;
    opacity: 0.7;
    /*z-index: 9999;*/
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
#back_to_top:hover,
#back_to_top:focus {
	color: #ffffff;
	opacity: 1.0;
	-webkit-transition: all 0.3s;
            transition: all 0.3s;
}
/*-----------End Back to Top Button--------------------*/

/*---------------------Preloader----------------------------------*/
#loader-wrapper { 
	position: fixed; 
	top: 0;
	left: 0; 
	width: 100%; 
	height: 100%; 
	z-index: 9999; 
	overflow: hidden; 
	/*background-color: #485b72;*/
	background-color: #F7F7F7;
}
.no-js #loader-wrapper { 
	display: none;
}
#loader { 
	display: block; 
	position: relative; 
	left: 50%; 
	top: 50%; 
	width: 100px; 
	height: 100px; 
	margin: -55px 0 0 -55px; 
	border-radius: 50%; 
	border: 3px solid transparent; 
	/*border-top-color: #3077e8; */
	border-top-color: #1A1A1A;
	border-bottom-color: #1A1A1A;
	-webkit-animation: spin 1.7s linear infinite; 
	        animation: spin 1.7s linear infinite; 
	z-index: 11;
}
#loader::before { 
	content: " "; 
	position: absolute; 
	top: 5px; 
	left: 5px; 
	right: 5px; 
	bottom: 5px; 
	border-radius: 50%; 
	border: 3px solid transparent; 
	/*border-top-color: #e65c00;*/ 
	border-top-color: #0089D9;
	border-bottom-color: #0089D9;
	-webkit-animation: spin-reverse .6s linear infinite; 
	        animation: spin-reverse .6s linear infinite;
}
/*#loader::after { 
	content: " "; 
	position: absolute; 
	top: 15px; 
	left: 15px; 
	right: 15px; 
	bottom: 15px; 
	border-radius: 50%; 
	border: 3px solid transparent; 
	border-top-color: #1A1A1A; 
	-webkit-animation: spin 1s linear infinite; 
	        animation: spin 1s linear infinite;
}*/
@-webkit-keyframes spin { 
	0% { 
		-webkit-transform: rotate(0deg);
	} 
	100% { 
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin { 
	0% { 
		-webkit-transform: rotate(0deg); 
		    -ms-transform: rotate(0deg); 
		        transform: rotate(0deg);
	} 
	100% { 
		-webkit-transform: rotate(360deg); 
		    -ms-transform: rotate(360deg); 
		        transform: rotate(360deg);
	}
}
@-webkit-keyframes spin-reverse { 
	0% { 
		-webkit-transform: rotate(0deg);
	} 
	100% { 
		-webkit-transform: rotate(-360deg);
	}
}
@keyframes spin-reverse { 
	0% { 
		-webkit-transform: rotate(0deg); 
		    -ms-transform: rotate(0deg); 
		        transform: rotate(0deg);
	} 
	100% { 
		-webkit-transform: rotate(-360deg); 
		    -ms-transform: rotate(-360deg); 
		        transform: rotate(-360deg);
	}
}
/*-------------------End Preloader--------------------------------*/










